body {
    display: flex;
    color: darkslategrey;
}

h2 {
    font-size: 100%;
}

h1 {
    font-size: 150%;
}

ul > * {
    margin: 10px;
}

#map {
    height: 600px;
    /*width: 800px;*/
    flex-grow: 1;
    float: right;
    margin: 20px;
}

#menu {
    width: 400px;
    font-family: sans-serif;
    margin: 20px;
}

#menu > * {
    margin: 10px;
}